.footer-bg{
    background-color:black;
    color: white;
    border-bottom: 1px dotted white;
}

.social-icons a  i {
	color: #fff;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	border-radius: 3px;
    margin-right: 15px;
}
.footer-contact-info h4,.footer-item h4,.footer-link-item h4{
    color: #D3A300;
}
.fa-facebook-f{
    background-color:#3B5997;
}
.fa-twitter{
    background-color:#1DA1F2;
}
.fa-instagram{
    background-color:#DC3472;
}
.fa-linkedin-in{
    background-color:#0077B5;
}

.footer-bottom-bg{
    background-color: black;
}
